{:require
 [[com.yakread.lib.test :as t]
  [clojure.data.generators :as gen]
  [com.yakread.lib.fx :as fx]],
 :tests
 [{:eval
   ((fx/machine :test-machine :start (fn [_] {:hello "there"})) {}),
   :result {:hello "there"}}
  _
  {:eval
   ((fx/machine
     :test-machine
     :start
     (fn [_] {:biff.fx/next :next})
     :next
     (fn [_] {:abc "123"}))
    {}),
   :result {:abc "123"}}
  _
  {:eval
   ((fx/machine
     :test-machine
     :start
     (fn [_] {:my-effect "yo ho ho", :biff.fx/next :next})
     :next
     (fn [{:keys [my-effect]}] {:result my-effect}))
    {:biff.fx/handlers
     {:my-effect (fn [ctx input] (str "you said: " input))}}),
   :result {:result "you said: yo ho ho"}}
  _
  {:eval
   ((fx/machine :test-machine :start (fn [_] {:hello "there"}))
    {:extra "stuff"}),
   :result {:hello "there"}}
  _]}
